* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul-escuro: #242741;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #36384D;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    background-color: #fefefe;
    max-width: 800px;
    min-height: 400px;
    padding: 20px;
    border-radius: 28px;
}

#subscription-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 12px;
    max-width: 280px;
    min-height: 340px;
    font-family: 'Roboto', sans-serif;
}

#subscription-message {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--azul-escuro);
}

#subscription-message h1 {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 40px;
    margin-top: 1.5rem;
}

#subscription-message  p {
    font-size: 10px;
    font-weight: 600;
}

#subscription-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#subscription-info span {
    display: flex;
    align-items: center;
    gap: 8px;
}

#subscription-content form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#subscription-content form h1 {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 8px;
}

#subscription-content form input {
    outline: none;
    height: 24px;
    border-radius: 6px;
    padding: 20px;
    border: 1px solid grey;
    opacity: 0.7;
}

#subscription-content form button {
    background-color: var(--azul-escuro);
    padding: 12px;
    border-radius: 6px;
    border: none;
    text-align: center;
    margin: 1rem 0;
    color: rgb(226, 226, 238);
    font-size: 11px;
    font-weight: 500;
}

aside img {
    max-height: 24rem;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: #3d52a3;
}