* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #36384D;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    background-color: #fefefe;
    max-width: 800px;
    min-height: 400px;
    padding: 20px;
    border-radius: 28px;
}

aside img {
    max-height: 10rem;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: #3d52a3;
}